{% extends "base.html" %}
{% block title %}TechWatch - Accueil{% endblock %}
{% block content %}
<main>
    <div style="display:flex; align-items: center; justify-content:center;">
        <div class="welcome">
            <h1>Bienvenue sur Techwatch !</h1>
            <h2>Découvrez l'actualité tech pour développeurs selon ce qui vous intéresse.</h2>
            <form class="search-bar" method="get" action="/">
                <input
                    type="text"
                    id="article-search"
                    name="q"
                    placeholder="webdev"
                    value="{{ tag_query }}"
                >
                <button type="submit">🔍</button>
            </form>
        </div>
    </div>

    <div class="top-bar">
        <h1>{{"Articles à propos de \"" + tag_query + "\"" if tag_query else "Tous les articles"}}</h1>
    </div>

    <div class="articles">
        {% for article in articles %}
        <div class="article" onclick="window.location.href='{{ url_for('article', article_id=article.id) }}'">
            <div>
                <h2>{{ article.title }}</h2>
                <p>{{ article.desc }}</p>
            </div>
            <button class="read-btn {{ 'checked' if article.read else '' }}">
                Lu {{ '✔️' if article.read else '' }}
            </button>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}