{% extends "base.html" %}
{% block title %}TechWatch - Tags{% endblock %}
{% block content %}
<main class="tags-page">
    <div class="top-tags">
        <h1>Tags populaires</h1>
        <div class="search-bar">
            <label for="tag-search">Rechercher :</label>
            <input type="text" id="tag-search" placeholder="java">
        </div>
    </div>

    <div class="tags-grid" id="tags-grid">
        {% for tag in tags %}
            <div class="tag-card" onclick="window.location='{{ url_for("home", q=tag.name) }}';" style="cursor: pointer;">
                <h2>{{ tag.name }}</h2>
                <p>{{ tag.desc }}</p>
            </div>
        {% endfor %}
    </div>
</main>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}